{% extends 'base.html' %} 
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h2 id="about-the-statutes-at-large"><a name="user-content-about-the-statutes-at-large" href="#about-the-statutes-at-large" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>About the Statutes at Large</h2>
        <p>As of 2013, pursuant to section 205 of the District of Columbia Codification Act of 1975, effective October 8, 1975 (D.C. Law 1-19; D.C. Official Code § 2-603), <a href="http://dccouncil.us">the Council of the District of Columbia</a> is required to compile and publish the District of Columbia Statutes-at-Large (DCSTAT). The Council's Office of the General Counsel prepares and certifies the DC STAT.</p>
        <p>The DCSTAT includes, in chronological order, all Council acts and resolutions that became law during the Council period.</p>
        <p>In Council Period 20, which includes calendar years 2013 and 2014, the Council adopted 268 temporary and permanent laws, 351 emergency acts, and 284 resolutions. In addition, 746 proposed resolutions were transmitted to the Council for a period of review. These measures are included in the Statutes at Large, which you can <a href="/browse">browse here</a>.</p>
    </div>
    <div class="col-sm-6">
        <h2 id="using-the-statutes-at-large"><a name="user-content-using-the-statutes-at-large" href="#using-the-statutes-at-large" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>Using the Statutes at Large</h2>
        <p>In addition to this site&rsquo;s <a href="/browse">browse feature</a>, you can also do a <a href="/search">full-text search on the DCSTAT</a>. Finally, you may visit the <a href="/downloads">downloads</a> page to download a complete PDF or a zip file of the Statutes at Large.</p>
        <h2 id="public-domain-dedication-and-contact-information"><a name="user-content-public-domain-dedication-and-contact-information" href="#public-domain-dedication-and-contact-information" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>Public Domain Dedication and Contact Information</h2>
        <p>All documents contained on this site are available in the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Public Domain</a>.</p>
        <p>In addition, the source code and server configuration documentation for this site are available at <a href="https://github.com/dccouncil/dcstat">https://github.com/dccouncil/dcstat</a>. Developers are encouraged to visit the <a href="/developer">developer site</a>. If you have any problems with the site, or would like to improve upon it, <a href="https://github.com/dccouncil/dcstat/issues">please let us know</a>.</p>
        <p>If you have any questions about the site, please contact the Council of the District of Columbia, Office of General Counsel, at (202) 724-8026.</p>
    </div>
</div>
<!--     <div class="col-sm-4">
      <h2>Look up a Measure</h2>
      <p><input id="id_measure_lookup" name="measure_lookup" placeholder="Lookup a Measure">
      <button type="button" id="lookup_button">Find it!</button></p>
      <h2>Go to a Page</h2>
      <p><input id="id_page_number" name="page_number" placeholder="Pick a page">
      <button type="button" id="go_button">Go!</button></p>
      <button type="button" id="search_button">Search</button></p>
    </div>
    <div class="col-sm-8" id="response"></div>
  </div> -->
{% endblock %} {% block extra_js %}
<script>
var url = "https://s3.amazonaws.com/dcstat/metadata.json";
var d;
$.getJSON(url, function(data) {
    d = data;
})

$("#lookup_button").on("click", function(event) {
    event.preventDefault();
    getMeasure($("#id_measure_lookup").val(), function(res) {
        console.log(res)
        out = "<h2>Results</h2><ul>"
        s3_url = "https://s3.amazonaws.com/dcstat/public/"
        out += "<li><a href='" + s3_url + res.name + "'>" + res.title + "</a></li>"
        out += "</ul>"
        $("#response").html(out)
    })
    return false;
});

$("#go_button").on("click", function(event) {
    event.preventDefault();
    getPage(parseInt($("#id_page_number").val()), function(res) {
        $("#response").html("<h2>Results</h2><p><a href='" + res.url + "'>" + res.obj.title + "</a><p>")
    })
});

$("#search_button").on("click", function(event) {
    event.preventDefault();
    searchStat($("#id_search").val(), function(res) {
        out = "<h2>Results</h2><ul>"
        _.each(res.results, function(elem, idx, array) {
            s3_url = "https://s3.amazonaws.com/dcstat/public/"
            out += "<li><a href='" + s3_url + elem.obj.name + "'>" + elem.obj.title + "</a></li>"
        })
        out += "</ul>"
        $("#response").html(out)
    })
    return false;
});

function getMeasure(query, callback) {
    url = '/api/measures/' + query
    $.getJSON(url, function(d) {
        callback(d)
    })
}

function searchStat(query, callback) {
    url = '/api/search/?q=' + query
    $.getJSON(url, function(d) {
        callback(d)
    })
}

function getPage(page, callback) {
    url = "https://s3.amazonaws.com/dcstat/metadata.json"

    // find the first end page that's greater than or equal to the page
    x = _.find(d, function(elem) {
        return elem.end >= page;
    })
    var diff = page + 1 - x.start;
    callback({
        "obj": x,
        "url": "https://s3.amazonaws.com/dcstat/public/" + x.name + "#page=" + diff
    })
}
</script>
{% endblock %}
