{% extends 'base.html' %}

{% block content %}
<h1>Statutes at Large -- Council Period 20</h1>
  <div class="row">
    <div class="c4">
      <h2>Look up a Measure</h2>
      <p><input id="id_measure_lookup" name="measure_lookup" placeholder="Lookup a Measure">
      <button type="button" id="lookup_button">Find it!</button></p>
      <h2>Go to a Page</h2>
      <p><input id="id_page_number" name="page_number" placeholder="Pick a page">
      <button type="button" id="go_button">Go!</button></p>
      <h2>Search the Statutes at Large</h2>
      <p><input id="id_search" name="search" placeholder="Search">
      <button type="button" id="search_button">Search</button></p>
    </div>
    <div class="c8" id="response"></div>
  </div>
{% endblock %}
{% block extra_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script>

var url = "https://s3.amazonaws.com/dcstat/metadata.json";
var d;
$.getJSON(url, function (data){
    d = data;
})

$("#lookup_button").on( "click", function() {
    getMeasure($("#id_measure_lookup").val(), function (res) {
      console.log(res)
      out = "<h2>Results</h2><ul>"
        s3_url = "https://s3.amazonaws.com/dcstat/public/"
        out += "<li><a href='" + s3_url + res.name + "'>" + res.title + "</a></li>"
      out += "</ul>"
      $("#response").html(out)
    })
    return false;
});

$("#go_button").on( "click", function() {
  getPage(parseInt($("#id_page_number").val()), function (res) {
    $("#response").html("<h2>Results</h2><p><a href='" + res.url + "'>" + res.obj.title + "</a><p>")
  })
});

$("#search_button").on( "click", function() {
    searchStat($("#id_search").val(), function (res) {
      out = "<h2>Results</h2><ul>"
      _.each(res.results, function (elem, idx, array){
        s3_url = "https://s3.amazonaws.com/dcstat/public/"
        out += "<li><a href='" + s3_url + elem.obj.name + "'>" + elem.obj.title + "</a></li>"
      })
      out += "</ul>"
      $("#response").html(out)    
    })
    return false;
});

function getMeasure(query, callback) {
  url = '/api/measures/' + query
  $.getJSON(url, function (d) {
    callback(d)
  })
}

function searchStat(query, callback) {
  url = '/api/search?q=' + query
  $.getJSON(url, function (d) {
    callback(d)
  })
}

function getPage (page, callback) {
url = "https://s3.amazonaws.com/dcstat/metadata.json"

  // find the first end page that's greater than or equal to the page
  x = _.find(d, function (elem) {
    return elem.end >= page;
  })
  var diff = page + 1 - x.start;
  callback({"obj":x, "url":"https://s3.amazonaws.com/dcstat/public/" + x.name + "#page=" + diff})
}
        </script>
{% endblock %}